* {
    background-color: aliceblue;
    margin: 0;
}

#background {
    background-image: url(./Imagens/exemplo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cyan;
    width: 100%;
    height: 550px;
    margin-top: 50px;
}

#cabeca {
    background-color: #222;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0%;
    z-index: 1;
}

.panda {
    width: 30px;
    padding: 0.8%;
    display: inline;
}

#nomedosite {
    font-family: monospace;
    font-size: 20px;
    display: inline;
    color: white;
    background-color: transparent;
    margin-left: 20px;
    position: fixed;
    top:15px
}

#cabecalho {
    width: 30%;
    height: 80%;
    position: inherit;
    margin-left: 19%;
    margin-top: 35px;
    display: inline-block;
    border-collapse: collapse;
}

#pequena {
    background-color: lightblue;
    width: 60%;
    height: 40%;
    margin-left: 20%;
    margin-top: 10%;
}

#texto-header {
    text-align: center;
    width: 90%;
    margin: auto;
}

#texto-header p {
    font-size: smaller;
}

#texto-header h2 {
    font-size: 18px;
    margin: 1%;
}

#texto-header h4 {
    font-size: 14px;
    margin: 3%;
}

.button {
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #divisao-imagem {
      width: 400px;
      height: 400px;
      width: 30%;
      height: 70%;
      float: right;
      margin-right: 20%;
      margin-top: 60px;
      display: inline-block;
  }

  #grande {
      background-color: lightblue;
      width: 100%;
      height: 100%;
  }

  #section01 {
      width: 100%;
      height: 550px;
      background-image: linear-gradient(lightcyan, rgb(189, 253, 253)) ;  
      padding-top: 10%; 
      
  }

  #infos01 {
      width: 70%;
      height: 80%;
      background-color: transparent;
      margin: auto;  
  }

  .imagem01 {
      display: inline-block;
      width: 50%;
      height: 300px;
      position: relative;
      left:5%;
      top: 15%; 
  }

  .imagem {
      width: 100%;
  }

  #direita01 {
      width: 50%;
      height: 100%;
      background-color: orange;
      float: right;
  }

  .textos01 {
      color: white;
      background-color: orange;
      padding: 5%;
      padding-left: 20%;
      
  
}
#section02 {
    width: 100%;
    height: 550px;
    background-image: linear-gradient(lightcyan, rgb(189, 253, 253)) ;  
    padding-top: 10%; 
    
}

#infos02 {
    width: 70%;
    height: 80%;
    background-color: transparent;
    margin: auto;  
}

.imagem02 {
    display: inline-block;
    width: 50%;
    height: 300px;
    position: relative;
    right:5%;
    top: 15%;
    
}

#esquerda02 {
    width: 50%;
    height: 100%;
    background-color: orange;
    float: left;
}

.textos02 {
    color: white;
    background-color: orange;
    padding: 5%;
    padding-right: 20%;
}


